<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

  <!-- Logging Properties -->
  <Properties>
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p - %m%n
    </Property>
  </Properties>

  <Appenders>

    <RollingFile name="fileLogger"
                 fileName="logs/RestaurantQR.log"
                 filePattern="logs/RestaurantQR-%d{yyyy-MM-dd}.log.gz">
      <PatternLayout
              pattern="[RestaurantQR] %d [%t] %-5p %c{2}:%L %x - %m%n"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
        <TimeBasedTriggeringPolicy interval="1"
                                   modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy max="5"/>
    </RollingFile>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
              pattern="[RestaurantQR] %d [%t] %-5p %c{2}:%L %x - %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO" additivity="false">
      <appender-ref ref="fileLogger"/>
      <appender-ref ref="Console"/>
    </Root>
  </Loggers>

</Configuration>
